html {
  height: 100%;
}

body {
  background-color: black;
  min-height: 100%;
  font-family: Arial, sans-serif;
  color: black;
}

.chatroom {
  padding: 32px 0;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .chatroom {
    padding: 0px;
  }
}
