.aiChatMessage {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 12px 0;
  justify-content: left;
}

.humanChatMessage {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 12px 0;
  justify-content: right;
}

.messageText {
  padding: 12px 24px;
  border-radius: 25px;
  max-width: 800px;
  line-height: 1.4em;
}

.humanChatMessage .messageText {
  background-color: #b0ff92;
}

.aiChatMessage .messageText {
  background-color: #f2f2f2;
}
