.chatroom {
  margin: auto;
  max-width: 80%;
  height: 100%;
  position: relative;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .chatCardContent {
    padding: 0px !important;
  }
  .chatroom {
    max-width: none;
    border-radius: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .chatroom {
    max-width: 50%;
  }
}
